.cursor-pointer {
    cursor: pointer;
}
.table-cell-hover:hover{
    background-color: #F1F1F1;
}
// table td,
// table th,
// div,
// span,
// input,
// select,
// textarea,
// option,
// label.v-label {
//     font-size: 12px;
// }
// table tr:hover td {
//     background-color: #f5f5f5;
// }
// div.text-h6 {
//     font-size: 13px !important;
// }
// table td, table th { font-size:11px;}
// table tr:hover td{ background-color: #f5f5f5;}
// div.text-h6{ font-size: 13px !important;}
  div,span, input, select,textarea, option, label.v-label, .v-overlay-container .v-overlay.v-menu div { font-size: 12px;}
// .v-overlay-container div, .v-overlay-container label { font-size:12px; padding-top:2px; padding-bottom:2px;} // v-autocomplete

