.cursor-pointer {
    cursor: pointer;
}
.table-cell-hover:hover {
    background-color: #f1f1f1;
}

table td, table th, div.v-autocomplete__selection, input, select,textarea, option, label.v-label, .v-overlay-container .v-overlay.v-menu div { font-size: 12.5px;}

.for-print, .for-print-flex{
    display: none !important;
    visibility: hidden;
    opacity: 0;
}
div.page-break {
    page-break-before:auto; 
}
.w-30 { width: 28%; margin:0 1.5% 0 0.5%; }
.w-25 { width: 23%; margin:0 1.5% 0 0.5%; }
.w-20 { width: 18%; margin:0 1.5% 0 0.5%; }
.w-15 { width: 13%; margin:0 1.5% 0 0.5%; }
.w-10 { width: 8%; margin:0 1.5% 0 0.5%; }
.w-5 { width: 3%; margin:0 1.5% 0 0.5%; }
 
.row-bordered { border-bottom: 1px solid #ccc;}
@media print {
    .no-print{
        display: none !important;
        visibility: hidden;
        opacity: 0;
    } 
    div.page-break {
        padding-top:20px;
    }
    main{ padding:0 !important;}

    .for-print{
        display: block !important;
            visibility: visible;
            opacity: 1;
            border:1px solid #ccc;
            padding:5px 10px;
            min-height: 50px;
    }
    .for-print-flex{
        display: flex !important;
        visibility: visible;
        opacity: 1;  
    }
    .for-print-flex.header{ border-bottom: 1px solid #ccc;}
     
    .for-print-flex div, div{ font-size: 12px;}
    .v-overlay-container div, .v-overlay-container label, div,span, input, select,textarea, option, label.v-label, .v-overlay-container .v-overlay.v-menu div { 
        font-size: 12px; 
    }
    
 } 